{% extends "@quick_coding.view/layout/base.html.twig" %}

{% block title %} {{ config.title }} {% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset(quick_coding.public ~ "plugins/datatables/dataTables.uikit.min.css") }}" />
{% endblock %}

{% block javascripts %}
<script src="{{ asset(quick_coding.public ~ "plugins/datatables/jquery.dataTables.min.js") }}"></script>
<script src="{{ asset(quick_coding.public ~ "plugins/datatables/dataTables.uikit.min.js") }}"></script>
<script>
$(document).ready(function(){
	var delID = null;
	var table = $("#view").DataTable({
        processing: true,
        serverSide: true,
        pageLength: 25,
        orderMulti: true,
        ajax: {
            url: "{{ path(config.path.view) }}",
            data: function(params) {params.type = "json";delete params.columns}
        },
        columns: [
        	{% for item in config.column %}
        	{data: "{{ item.get is defined and item.get ? item.get : item.name }}", defaultContent: '-', {{ item.disableOrder is defined and item.disableOrder ? 'orderable: false, ' : '' }} render: function ( data, type, row ) {
            	if(Array.isArray(data)){
                	return (data.map(v => v ? `<span class="uk-label uk-label-success uk-border-rounded item-datatables">${v}</span>` : '')).join('');
                }
                
            	if (typeof data === 'string' || data instanceof String){
                	return data.replace(/(?:\r\n|\r|\n)/g, '<br>');
                }
                
	        {% if item.type is defined %}

                {% if item.type == 'date' or item.type == 'time' or item.type == 'datetime' %}
                if(data && data.timestamp){
                    var date = new Date(data.timestamp * 1000);
                    
                    {% if item.type == 'date' %}return date.toLocaleDateString('en', { dateStyle : 'medium', timeZone: 'UTC' });{% endif %}
                    {% if item.type == 'time'%}return date.toLocaleTimeString('en', { timeStyle: 'short', timeZone: 'UTC' });{% endif %}
                    {% if item.type == 'datetime' %}return date.toLocaleString('en', { dateStyle : 'medium', timeStyle: 'short', timeZone: 'UTC' });{% endif %}
                    
                }
                {% endif %}
                
	        {% endif %}

                return data;
            }},
            {% endfor %}
        	{data: "remove", width:110, orderable:false, defaultContent: `
            	<button type="button" class="uk-button uk-button-secondary uk-border-rounded uk-button-small qc-btn-action qc-view">
            		<span uk-icon="icon: file-text"></span>
            	</button>
            	<button type="button" class="uk-button uk-button-primary uk-border-rounded uk-button-small qc-btn-action qc-edit">
        			<span uk-icon="icon: file-edit"></span>
        		</button>
        		<button type="button" class="uk-button uk-button-danger uk-border-rounded uk-button-small qc-btn-action qc-delete">
        			<span uk-icon="icon: minus-circle"></span>
        		</button>
            `},
        ],
        initComplete : function() {
            var input = $('.dataTables_filter input').unbind();
            var self = this.api();
            var $searchButton = $('<button>')
				.attr('class', 'uk-button uk-button-primary uk-button-small uk-border-rounded dt-btn-search')
       			.append('<span uk-icon="icon: search"></span> Search')
       			.click(function() {self.search(input.val()).draw()});

            $('.dataTables_filter input').on('search', function(e){
            	self.search(input.val()).draw();
            })
   			
            $('.dataTables_filter').append($searchButton);
        }
    });

	$("#view tbody").on( "click", "td .qc-view", function(e){
		var row = table.row($(e.currentTarget).parents('tr')).data();
		var path = "{{ path(config.path.form, {action: 'read', id: '0000'}) }}";
		path = path.replace("0000", row.id);
		document.location = path;
	})

	$("#view tbody").on( "click", "td .qc-edit", function(e){
		var row = table.row($(e.currentTarget).parents('tr')).data();
		var path = "{{ path(config.path.form, {action: 'update', id: '0000'}) }}";
		path = path.replace("0000", row.id);
		document.location = path;
	})

	$("#view tbody").on( "click", "td .qc-delete", function(e){
		var row = table.row($(e.currentTarget).parents('tr')).data();
		UIkit.modal.confirm('Are you sure want to delete data {{ config.title }}?').then(function() {
			var path = "{{ path(config.path.remove, {action: 'delete', id: '0000'}) }}";
			path = path.replace("0000", row.id);
			$.get(path, function(data, status){
				if(status === 'success'){
					$("#view").DataTable().ajax.reload();
				}
			});
		}, function(){});
	})
	
});
</script>
{% endblock %}

{% block actionbar %}
{% include '@quick_coding.view/component/actionbar.twig' with {actionbar: config.actionbar} %}
{% endblock %}

{% block body %}
<div class="uk-card uk-card-default uk-border-rounded">
	<div class="uk-card-header uk-border-rounded">
		<h3><b>{{ config.title }}</b></h3>
	</div>
	<div class="uk-card-body">
		<table id="view" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
                <tr>
                    {% for item in config.column %}
                    <th>{{ item.title }}</th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
        </table>
	</div>
</div>
{% endblock %}