{% extends "@quick_coding.view/layout/base.html.twig" %}

{% block title %} {{ title }} {% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
<script>
function del(path){
	UIkit.modal.confirm('Are you sure want to delete this data?').then(function() {
		document.location = path;
	}, function(){});
}
</script>
{% endblock %}

{% block actionbar %}
{% include '@quick_coding.view/theme/actionbar.twig' with {actionbar: config.actionbar} %}
{% endblock %}

{% block body %}
<div class="uk-card uk-card-default uk-border-rounded">
	<div class="uk-card-header uk-border-rounded">
		<h3><b>{{ title }}</b></h3>
	</div>
	<div class="uk-card-body">
		<table id="view" class="uk-table uk-table-hover uk-table-striped" style="width:100%">
            <thead>
                <tr>
                    {% for item in column %}
                    <th>{{ item.title }} <span uk-icon="icon: expand"></span></th>
                    {% endfor %}
                    <th width="100"></th>
                </tr>
            </thead>
            <tbody>
            	{% for row in data %}
            	<tr>
            		{% for item in column %}
                    <td>{{ row[item.name] }}</td>
                    {% endfor %}
                    <td>
                    	<a href="{{ path(path, {action: 'read', id: row.id}) }}" class="uk-button uk-button-secondary uk-border-rounded uk-button-small qc-btn-action"><span uk-icon="icon: file-text"></span></a>
                    	<a href="{{ path(path, {action: 'update', id: row.id}) }}" class="uk-button uk-button-primary uk-border-rounded uk-button-small qc-btn-action"><span uk-icon="icon: file-edit"></span></a>
                		<a onclick="del('{{ path(path, {action: 'delete', id: row.id}) }}')" class="uk-button uk-button-danger uk-border-rounded uk-button-small qc-btn-action"><span uk-icon="icon: minus-circle"></span></a>
                    </td>
            	</tr>
            	{% endfor %}
            </tbody>
        </table>
	</div>
</div>
{% endblock %}