<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ quick_coding.app_name }}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="description" content="Clean and responsive administration panel">
        <meta name="keywords" content="Admin,Panel,HTML,CSS,XML,JavaScript">
        <meta name="author" content="Erik Campobadal">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ asset(quick_coding.public ~ 'uikit/css/uikit.min.css') }}" />
        <link rel="stylesheet" href="{{ asset(quick_coding.public ~ 'css/component.css') }}" />
        {% block stylesheets %}{% endblock %}
		<script src="{{ asset(quick_coding.public ~ 'js/jquery.min.js') }}"></script>
		<script src="{{ asset(quick_coding.public ~ 'uikit/js/uikit.min.js') }}"></script>
		<script src="{{ asset(quick_coding.public ~ 'uikit/js/uikit-icons.min.js') }}"></script>
    </head>
    <body>
        <div uk-sticky class="uk-navbar-container tm-navbar-container uk-active">
            <div class="uk-container uk-container-expand">
                <nav uk-navbar>
                    <div class="uk-navbar-left">
                        <a id="sidebar_toggle" class="uk-navbar-toggle" uk-navbar-toggle-icon ></a>
                        <a href="{{ path('home') }}" class="uk-navbar-item uk-logo">
                            {{ quick_coding.app_name }}
                        </a>
                    </div>
                    <div class="uk-navbar-right uk-light">
                        <ul class="uk-navbar-nav">
                            <li class="uk-active">
                                <a href="#">{{ app.user ? app.user.Name : 'Anonymous'}}<span class="ion-ios-arrow-down"></span></a>
                                {% if app.user %}
                                <div uk-dropdown="pos: bottom-right; mode: click; offset: -17;">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li><a href="{{ path('app_logout') }}"><span class="uk-margin-small-right" uk-icon="icon: expand"></span> Logout</a></li>
                                    </ul>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        
        {{ include('@quick_coding.view/layout/sidebar.html.twig') }}
        
        <div id="body-content" class="content-padder content-background">
        	
        	{% if block('actionbar') is defined and block('actionbar') is not empty %}
            <div uk-sticky="offset: 80" id="action-bar" class="uk-card uk-card-default uk-card-body">
                {% block actionbar %}{% endblock %}
            </div>
            {% endif %}
        	   
            <div class="uk-section-small">
            	
                <div class="uk-container uk-container-large">
                	
                    {% block body %}{% endblock %}
                    
                </div>
            </div>
        </div>
		<script src="{{ asset(quick_coding.public ~ 'js/jquery.transit.min.js') }}"></script>
        <script src="{{ asset(quick_coding.public ~ 'js/sidebar.js') }}"></script>
        <script src="{{ asset(quick_coding.public ~ 'js/ajax-loading.js') }}"></script>
		{% block javascripts %}{% endblock %}
    </body>
</html>

