<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ quick_coding.app_name }}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ asset(quick_coding.public ~ 'uikit/css/uikit.min.css') }}" />
        <link rel="stylesheet" href="{{ asset(quick_coding.public ~ 'css/component.css') }}" />
        {% include '_qc/stylesheet.html' ignore missing %}
        {% block stylesheets %}{% endblock %}
		<script src="{{ asset(quick_coding.public ~ 'js/jquery.min.js') }}"></script>
		<script src="{{ asset(quick_coding.public ~ 'uikit/js/uikit.min.js') }}"></script>
		<script src="{{ asset(quick_coding.public ~ 'uikit/js/uikit-icons.min.js') }}"></script>
		{% include '_qc/script.html' ignore missing %}
    </head>
    <body>
        
        {% include ['_qc/header.html.twig', '@quick_coding.view/layout/header.html.twig'] ignore missing %}
        
        {% include ['_qc/sidebar.html.twig', '@quick_coding.view/layout/sidebar.html.twig'] ignore missing %}
        
        <div id="body-content" class="content-padder content-background">
        	{% if block('actionbar') is defined and block('actionbar') is not empty %}
            <div uk-sticky="offset: 80" id="action-bar" class="uk-card uk-card-default uk-card-body">
                {% block actionbar %}{% endblock %}
            </div>
            {% endif %}
        	   
            <div class="uk-section-small">
                <div class="uk-container uk-container-large">
                    {% block body %}{% endblock %}
                </div>
            </div>
            
        </div>
        
		<script src="{{ asset(quick_coding.public ~ 'js/jquery.transit.min.js') }}"></script>
        <script src="{{ asset(quick_coding.public ~ 'js/sidebar.js') }}"></script>
        <script src="{{ asset(quick_coding.public ~ 'js/ajax-loading.js') }}"></script>
		{% block javascripts %}{% endblock %}
		{% include '_qc/body_script.html' ignore missing %}
    </body>
</html>

